<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />

  <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  <title>@ViewBag.Title</title>
</head>
<body>
  <ul class="nav nav-pills">
    <li role="presentation" class="active">@Html.ActionLink("Home", "Index", "Account")</li>
    <li role="presentation"><a href="http://twodudesapps.azurewebsites.net" target="_blank">About Us</a></li>
    <li role="presentation"><a href="mailto:DrGonzo@Outlook.com">Contact</a></li>
  </ul>
  <div class="container">
    @RenderBody()
  </div>
  @RenderBody()
  <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"></script>
  @*<script src="~/js/site.min.js" asp-append-version="true"></script>*@
</body>
</html>
