@{
  ViewData["Title"] = "PikeMarketShopper - View Shops";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<PikeMarketShopper.Models.Shop>

<h1>View Pike Market Shops</h1>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../img/store-barrels.jpg" alt="Wine Barrels at Market">
      <div class="caption">
        <h3>@Html.ActionLink("View Shops", "Index", "Shops", new { @class = "classLink" })</h3>
        <p>View wine and beverage shops</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../img/store-cafe.jpg" alt="Baker at Work">
      <div class="caption">
        <h3>@Html.ActionLink("View Shops", "Index", "Shops")</h3>
        <p>Breads, baked goods, and grains</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../img/store-stuff.jpg" alt="Truffles in Store Case">
      <div class="caption">
        <h3>@Html.ActionLink("View Shops", "Index", "Shops")</h3>
        <p>Candies and other specialty items</p>
      </div>
    </div>
  </div>
</div>




@*To be displayed only when user is administrator*@
@if (User.IsInRole("Administrator"))
{
  <div class="container" id="administrative">
    <hr />
    <h3>System Administrative Tools - Shop Management</h3>
    <h4>@Html.ActionLink("Manage member shops", "Index")</h4>
  </div>
}
