@{
  ViewData["Title"] = "PikeMarketShopper - Home Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

<div class="page-header">
  <h1>
    Welcome to the Sentiment Shopper
    <small>
      A unique online shopping experience for Pike Place Market in Seattle
    </small>
  </h1>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../img/PikeMarketResized.jpg" alt="Closeup of High Stall Potatoes">
      <div class="caption">
        <h3>@Html.ActionLink("Shop for Me", "Create", "Cart")</h3>
        <p>We can provide an intuitively tailored package of the best of Pike Place Market to ship to you or your friends</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../img/HighStallResized.jpg" alt="High Stalls at Market">
      <div class="caption">
        <h3>@Html.ActionLink("View Products", "Index", "Products", new { @class = "classLink" })</h3>
        <p>View fresh and artisan products</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../img/Waterfront.jpg" alt="Market View from Elliot Bay">
      <div class="caption">
        <h3>@Html.ActionLink("View Shops", "Index", "Shops")</h3>
        <p>Visit the market shops - meet the owners and view their recommendations for the best of the market</p>
      </div>
    </div>
  </div>
</div>


@*To be displayed only when user is administrator*@
@if (User.IsInRole("Administrator"))
{
  <div class="container" id="administrative">
    <hr />
    <h3>System Administrative Tools - User Management</h3>
    <h4>@Html.ActionLink("Manage user accounts", "Index", "ApplicationUsers")</h4>
  </div>
}
