@{
  ViewData["Title"] = "PikeMarketShopper - Product Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PikeMarketShopper.Models;
@model dynamic

<h2>Available Products</h2>



<ul>
  @foreach (var listProduct in Model.Products)
  {
    <li>@listProduct.Name : @listProduct.Description</li>
  }
</ul>

<p>@Html.ActionLink("Home", "Index", "Home")</p>