#textSentiment {
  height: 150px;
  width: 625px;
}

.thumbnail {
  border: hidden;
}

#administrative {
  background-color: white;
}

#new-h3 {
  color: white;
}

input {
  /*background-color: black;*/
}

.administrative {

}

