body {
  /*background-color: cornsilk;*/
  /*color: white;
  background-image: url("../img/PikeMarket.jpg");
  background-repeat:no-repeat;
  background-size: cover;*/
}

#administrative {
  background-color: grey;
}

#new-h3 {
  color: white;
}

input {
  /*background-color: black;*/
}

.administrative {

}

