@{
  ViewData["Title"] = "PikeMarketShopper - Cart";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>The Intuitively Tailored Pike Market Shopper</h1>

@*@model PikeMarketShopper.Models.Product*@

<script type="text/javascript">
  $(document).ready(function () {
    var scoreSentiment = 0;
    $("#analyze").click(function () {
      // retrieve the form text from the customer and create a json string to sent to Microsoft's Cognitive Services API
      var feed = $("#textSentiment").val();
      var cartSentiment = {
        "documents": [
          {
            "language": "en",
            "id": "1",
            "text": feed
          }
        ]
      };

      $.ajax({
        url: 'https://westus.api.cognitive.microsoft.com/text/analytics/v2.0/sentiment',
        type: 'POST',
        dataType: 'json',
        beforeSend: function(xhrObj) {
          xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key", "5d3daed372b24b6ab9c60c4c85694893");
          xhrObj.setRequestHeader("Content-Type", "application/json");
          xhrObj.setRequestHeader("Accept", "application/json");
        },
        data: JSON.stringify(cartSentiment),
        })
        .done(function (data) {
          scoreSentiment = data.documents[0].score;
          writeData(scoreSentiment);
          $(".return-score").append(scoreSentiment);
        })
        .fail(function() {
          alert("Please enter text before clicking!");
        });

      function writeData(result) {
        console.log(scoreSentiment);
        
      }

    });
  });
</script>

<h2>Design a Customized Product Package!</h2>
<hr />
<div>
  <p>The Intuitive Tailored shopping tool will design a package of products based on your mood or situation - or your friend's or family member's situation. In the text box below, describe how you or your friend/family member is feeling, or what situation you or they are in...we'll use Microsoft's Cognitive Services to analyze the text and put together a product package designed to make you feel great!</p>
  <hr />
  <input type="text" id="textSentiment" value="Enter your text here" />
  <hr />
  <p><input type="submit" id ="analyze" value="Design my package!" /></p>
</div>

<hr />
@*To be displayed only when user is administrator*@
@if (User.IsInRole("Administrator"))
{
<h3>Sentiment Analysis (Administrator Use Only)</h3>
<h5>The sentiment analysis score is a reflection of the positive or negative sentiment. It is calculated using Microsoft Cognitive Services. The minimum score is 0 (the most negative), and maximum score is 1 (the most positive). The product package is designed based on how much 'cheering up' the customer requires.</h5>
<h3><span class="return-score"></span></h3>
}

@Html.ActionLink("Home", "Index")