@{
  ViewData["Title"] = "PikeMarketShopper - Cart";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@model IEnumerable<PikeMarketShopper.Models.Product>*@

<script type="text/javascript">
  var scoreSentiment = 0;
  $(document).ready(function () {
    console.log("First: " + scoreSentiment);
    $("#analyze").click(function () {
      // retrieve the form text from the customer and create a json string to send to Microsoft's Cognitive Services API
      var feed = $("#textSentiment").val();
      var cartSentiment = {
        "documents": [
          {
            "language": "en",
            "id": "1",
            "text": feed
          }
        ]
      };

      $.ajax({
        // post the the Cognitive Services API and write the returned sentiment score to scoreSentiment
        url: 'https://westus.api.cognitive.microsoft.com/text/analytics/v2.0/sentiment',
        type: 'POST',
        dataType: 'json',
        beforeSend: function (xhrObj) {
          xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key", "5d3daed372b24b6ab9c60c4c85694893");
          xhrObj.setRequestHeader("Content-Type", "application/json");
          xhrObj.setRequestHeader("Accept", "application/json");
        },
        data: JSON.stringify(cartSentiment),
        success: function (data) {
          scoreSentiment = data.documents[0].score;
          console.log("Second: " + scoreSentiment);
          $(".return-score").append(scoreSentiment + "<hr/>");
        },
        error: (function () {
          alert("Please enter text before clicking!");
        })
      });

      // display the appropriate products based on the sentiment level
      $("#display-product").click(function () {
        $.ajax({
          type: 'GET',
          data: { sentiment: scoreSentiment }, // use scoreSentiment
          dataType: 'json',
          contentType: 'application/json',
          url: '@Url.Action("GetProduct")',
          success: function (result) {
            console.log("Third: " + scoreSentiment);
            var resultString = 'Product: ' + result.name + '<br>Price: $' + result.price + '</br>' + '<img src="' + result.image + '" width="225" height="175">';
            $('#returned-product').html(resultString);
          }
        })
      });
      console.log("Fourth: " + scoreSentiment);
    });
  });
</script>

<h1>The Intuitively Tailored Pike Market Shopper</h1>
<hr />
<div class="row">
  <div class="col-md-4">
    <h3>Step 1. Start a customized product selection</h3>
    <p>The Intuitive Tailored shopping tool will select a product based on your mood or situation - or your friend's or family member's situation. In the text box below, describe how you or your friend/family member is feeling, or what situation you or they are in...we'll use Microsoft's Cognitive Services to analyze the text and we'll select a product to make you feel great!</p>
    <input type="text" id="textSentiment" value="Enter your text here" />
  </div>
  <div class="col-md-4">
    <h3>Step 2. View your sentiment analysis score</h3>
    <p>The sentiment analysis score is a reflection of the positive or negative sentiment. It is calculated using Microsoft Cognitive Services. The minimum score is 0 (the most negative), and maximum score is 1 (the most positive). Your selected product is based on this score - click to view your score, and make any changes to your text that you'd like. Then click in Step 3 to select your product.</p>
    <p><input type="submit" id="analyze" value="Analyze" /></p>
    <h3><span class="return-score"></span></h3>
  </div>
  <div class="col-md-4">
    <h3>Step 3. Display your custom-selected product</h3>
    <p><input type="submit" id="display-product" value="Display"/></p>
    <div id="returned-product"></div>
  </div>
</div>
